@charset "UTF-8";

#wrap
{
	width : 1200px;
	margin : 0 auto;
}

header
{
	height : 100px;
}

header > .logo
{
	width : 200px;
	height : 100px;
}

header > .search
{
	width:1000px;
	height : 100px;
}

.main-menu
{
	height : 40px;
}

.contents
{
	height : 500px;
}

.contents > .contents-detail
{
	height : 200px;
}

.contents > .contents-detail > .artist-photo
{
	width : 200px;
}

.contents > .contents-detail > .artist-info
{
	width : 1000px;
}

.artist-info > .info1
{
	height : 50px;
}

.artist-info > .info2
{
	height : 20px;
}

.artist-info > .info3
{
	height : 150px;
}

.contents > .songs
{
	height : 70px;	
}

.contents > .songs-detail
{
	height : 280px;	
}

footer
{
	height:50px;
}
